<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="redix.booxtown">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_sell"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Splash_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SigUp_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignIn_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgotPassword_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC8mAbcgv1w6wB96MC-POG2gADbSdESxeU" />

        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.FaqActivity" />
        <activity android:name=".activity.Faq_content" />
        <!-- activity for Explore -->
        <activity android:name=".activity.ExploreActivity" />
        <activity android:name=".activity.InviteFriendActivity" />
        <activity android:name=".activity.Rate" />
        <activity android:name=".activity.Setting" />
        <activity android:name=".activity.TestActivity" />
        <activity android:name=".activity.InteractActivity" />
        <activity android:name=".activity.InteractThreadActivity" />
        <activity android:name=".activity.InteractThreadDetailsActivity" />
        <activity android:name=".activity.UserProfileActivity" />
        <activity android:name=".activity.ListingsActivity" />
        <activity android:name=".activity.ListingsDetailActivity" />

        <!-- activity for Explore -->
        <activity android:name=".activity.NotificationSwapActivity" />
        <activity android:name=".activity.NotificationAcceptActivity" />
        <activity android:name=".activity.NotificationRejectActivity" />
        <activity android:name=".activity.NotificationSellActivity" />
        <activity android:name=".activity.Notification_Swap_Accept_NoLike" />
        <activity android:name=".activity.Notification_Swap_Accept_Like" />
        <activity android:name=".activity.NotificationSellAccept" />
        <activity android:name=".activity.NotificationSellNoAccept" />
        <activity android:name=".activity.NotificationSellReject" />
        <activity android:name=".activity.NotificationSellNoReject" />
        <activity android:name=".activity.NotificationDominicActivity" />
        <activity android:name=".activity.NotificationDominicAccept" />
        <activity android:name=".activity.NotificationDominicNoAccept" />
        <activity android:name=".activity.NotificationDominicReject" />
        <activity android:name=".activity.NotificationDominicNoReject" />
        <activity android:name=".activity.MyProfileActivity" />
        <activity android:name=".activity.MyProfileDashboardActivity" />
        <activity android:name=".activity.EditListingActivity" />
        <activity android:name=".activity.DasgboardActivity" />
        <activity android:name=".activity.DashboardStopActivity" />
        <activity android:name=".activity.DashboardDeleteActivity" />
        <activity android:name=".activity.MenuActivity"></activity>
        <activity android:name=".activity.RespondActivity"></activity>
        <activity android:name=".activity.About"></activity>
        <activity android:name=".activity.Contact"></activity>
        <activity android:name=".activity.WishboardActivity"></activity>
        <activity android:name=".activity.SwapActivity"></activity>
        <activity android:name=".activity.AddbookActivity"></activity>

        <activity android:name=".activity.ListingCollectionActivity"></activity>
    </application>

</manifest>